

/* Fonts:
			font-family: 'Montserrat', sans-serif;

*/

html, body {
	margin: 0;
 	padding: 0;
 	font-family: 'Roboto', sans-serif;
 	width:100%;
 	background-color: #555;
 	font-size: 14px; 
}


h1,h2,h3,h4,h5,p,a{
	color: #4af9bc;
}

.main{
	padding: 20px 0;
}


.container img{
	margin-top: 20px;
}

.header img {
  	float: left;
  	background: #555;
  	padding-right: 10px;
}

.header h1 {
  	position: relative;
  	font-size: 3.5rem;
  	font-family: 'Montserrat', sans-serif;
}

hr{
	border-width: 1px;
	border-color: #f23c3c;
}

.glyphicon-plus-sign{
	cursor: pointer;
	color: #4af9bc;
	padding-right: 2px;
}


.glyphicon-plus-sign:hover{
	color: #f23c3c;
}

p.title{
	font-size: 2rem;
	color: #ffffff;
}

p.upvotes{
	display: inline-block;
	padding-right: 5px;
	padding-left: 2px;
	color: #ffffff;
}

.comments a{
	display: inline-block;
}

.box {
  padding: 10px;
  margin: 10px 20px;

}

.commentBox{
	margin: 10px 20px 10px 0px;
  	padding: 10px;
}


