

/* Fonts:
			font-family: 'Montserrat', sans-serif;

*/

html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width:100%;
 background-color: #555; 
}


h1,h2,h3,h4,h5,p{
	color: #4af9bc;
}

.main{
	padding: 20px; 0;
}

.header img {
  float: left;
  background: #555;
  padding-right: 10px;
}

.header h1 {
  position: relative;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}




